/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  box-sizing: content-box;
}

body {
  background: rgb(196, 144, 237);
  background: linear-gradient(
    87deg,
    rgba(196, 144, 237, 1) 0%,
    rgba(105, 160, 224, 1) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  background-color: rgba(46, 46, 48, 0.904);
  width: 80vw;
  margin: 5% auto;
  border-radius: 20px;
}

.separator {
  background-color: rgb(138, 139, 142);
  width: 100%;
  height: 1px;
}
