<h2>Welcome to {{ title }}</h2>

<input #userNum type="text" [value]="username" />

<button (click)="buttonClickHandler()">Add name</button>

<ul>
  <li *ngFor="let user of users">
    {{ user.name }}
  </li>
</ul>

<button (click)="toggleText()">Show Text</button>
<div *ngIf="showText" [class]="classes">VISIBLE</div>
<div [class.special]="isSpecial">SPECIAL CLASS</div>

<!-- gets the value from the #userNum above -->
<div>{{ userNum.value }}</div>

<p>The sym of two + two + four is {{ 2 + 2 + 4 }}</p>
